dnsPromises Resolver with IDN certain subdomains

Certain version does throw error:
```
TypeError: Cannot convert name to ASCII
    at Resolver.queryA [as resolve4] (dns.js:227:48)
```

with MacOS BigSur Darwin Kernel Version 20.5.0, node v14.15.4 but does work with node v10.15.3 (ubuntu) and v10.24.1 (ubuntu).

Code which does this unexpected behaviour:
```
var { Resolver } = require('dns');
var resolver = new Resolver()
resolver.setServers(['8.8.8.8'])

function nslookup(host) {
    return new Promise(async function (resolve,reject) {
        console.log(`nslookup(${host})`)
        resolver.resolve4(host,function(err,ips) {
            if (err) {
                console.log(err)
                return resolve(false)
            }
            console.log(ips)
            return resolve(true)
        })
    })
    
}

async function start() {
    await nslookup('a.xn--ngbq.com')        // success
    await nslookup('ab.xn--ngbq.com')       // success
    await nslookup('a0.xn--ngbq.com')       // success
    await nslookup('1.xn--ngbq.com')        // fails
    await nslookup('10000.xn--ngbq.com')    // fails

    
}

start()

```
for some reason, a valid IDN domain like xn--nqbg.com does with alphanumeric hosts but does not work with number subdomains at my bigsur mac with node v14.15.4, upgraded to v14.17.1 and it still fails

Maybe it was introduced in https://github.com/nodejs/node/pull/25679

It looks like a bug related to ICU:

```
> internalBinding('icu').toASCII('a10000.xn--ngbq.com')
'a10000.xn--ngbq.com'
> internalBinding('icu').toASCII('10000.xn--ngbq.com')
Uncaught [TypeError: Cannot convert name to ASCII] {
  code: 'ERR_INVALID_ARG_VALUE'
}
```

https://github.com/nodejs/node/blob/3c099874aae60b42cf549ad3efd67f0ff153d571/src/node_i18n.cc#L598-L671

/cc @nodejs/i18n-api 

> It looks like a bug related to ICU:
> 
> 
> 
> ```
> 
> > internalBinding('icu').toASCII('a10000.xn--ngbq.com')
> 
> 'a10000.xn--ngbq.com'
> 
> > internalBinding('icu').toASCII('10000.xn--ngbq.com')
> 
> Uncaught [TypeError: Cannot convert name to ASCII] {
> 
>   code: 'ERR_INVALID_ARG_VALUE'
> 
> }
> 
> ```
> 
> 
> 
> https://github.com/nodejs/node/blob/3c099874aae60b42cf549ad3efd67f0ff153d571/src/node_i18n.cc#L598-L671
> 
> 
> 
> /cc @nodejs/i18n-api 

Can you repro with raw icu code or maybe https://icu4c-demos.unicode.org/icu-bin/idnbrowser ? If so please file an icu bug 

/cc @jasnell @TimothyGu since you both worked on this function.

`10000.xn--ngbq.com` is not a valid IDN, because it violates the IDNA 2008 Bidi rule ([RFC 5893 § 2](https://datatracker.ietf.org/doc/html/rfc5893#section-2)). This is why an exception is (correctly) thrown.

The label `xn--ngbq`, when decoded, gives the Arabic characters U+0628 `ب` and U+0630 `ذ`, and so would be considered a "RTL label". This renders the entire domain name a "[Bidi domain name](https://datatracker.ietf.org/doc/html/rfc5893#page-5)". The Bidi rule states that if the IDN is a Bidi domain name, then it must follow a set of [criteria](https://datatracker.ietf.org/doc/html/rfc5893#section-2) in order to be valid. The first of them says:

> 1. The first character [of a label] must be a character with [Bidi property](https://www.unicode.org/Public/UCD/latest/ucd/extracted/DerivedBidiClass.txt) L, R, or AL.

This criterion essentially means that each label must be unambiguously LTR or RTL. Here, `a` has property L, so that's fine. However, `1` has Bidi property EN, and thus fails the test, invalidating the entire URL.

----

The reason for this rule to exist is captured in [RFC 5893 § 3](https://datatracker.ietf.org/doc/html/rfc5893#section-3). But here's a simple explanation. Try to paste `a12.بذ.com` to the address box of your favorite browser, and you'll see that it's rendered "properly":

Chrome:
![image](https://user-images.githubusercontent.com/1538624/123581615-465f6080-d7aa-11eb-8fe7-3494e898e497.png)

Firefox:
![image](https://user-images.githubusercontent.com/1538624/123581718-76a6ff00-d7aa-11eb-9041-cdb05e74096e.png)

But if you try `12.بذ.com`, and you'll see that it's rendered in an odd (and worse, potentially ambiguous) order:

Chrome:
![image](https://user-images.githubusercontent.com/1538624/123581577-334c9080-d7aa-11eb-9799-0676fe546a64.png)

Firefox:
![image](https://user-images.githubusercontent.com/1538624/123581642-52e3b900-d7aa-11eb-80d1-538db9b36396.png)


on my browser 
![image](https://user-images.githubusercontent.com/22910022/123583290-08812d00-d7e8-11eb-9de6-2fd5090bb059.png)
i can indeed enter these hostnames, more than this, dns system seems to ignore this RFC, because it can be resolved too. So all dns system seems to ignore this rule then

You might be able to enter the `xn--` encoded domains, but you can’t enter the actual Unicode domains, at least on Chrome. Indeed, it’s unfortunate that DNS providers don’t enforce these rules. But they really should.

@TimothyGu :100: for digging into this. Sounds right.

@7c I think (correct me if I'm wrong) the xn- domain is valid DNS, but not valid IDN. 

@TimothyGu just to be pedantic, I think what you mean is that _registrars_ should enforce this, and not allow registration of such a domain? Or that the DNS implementation should IDN-validate actual records? (At least with a warning)

Everyone:  I think this should be closed as not a bug, _unless a regression test should be added to verify that an error is correctly thrown_.


@srl295 we have registered xn--ngbq.com as valid domain from a registrar, we could set it up at AWS route53 properly, it does indeed resolve properly through DNS system. How we detected this issue is; we do run tests with subdomains and we randomly take Date.now().$domain for test. We have seen that the tests fail on MACOS(node 14.latest) but do not fail on ubuntu (node 10.x).

@7c 
> it does indeed resolve properly through DNS system

Yes, `10000.xn--ngbq.com` is valid DNS, but invalid IDN. 

> @srl295 we have registered xn--ngbq.com as valid domain from a registrar, we could set it up at AWS route53 properly, it does indeed resolve properly through DNS system. How we detected this issue is; we do run tests with subdomains and we randomly take Date.now().$domain for test. We have seen that the tests fail on MACOS(node 14.latest) but do not fail on ubuntu (node 10.x).

@TimothyGu is correct about the spec, and it's actually a bug in Node 10.x and you should have received the error previously.

I would recommend that in your test, you check:
```js
require('url').domainToASCII('10000.xn--ngbq.com')
```

…and if it returns `''` then do not use that domain in your test


roger; yes it sounds like a bug in 10.x. I have tested 12.x and it also correctly fails... So this seems to be a <=10.x bug. You guys have at least a valid case for a test case where this error should be thrown. It is probably hard to find such edge cases but required for a project like nodejs