Support for semicolon in URL

<!--
Thank you for reporting an issue. Please fill in the template below. If unsure
about something, just do as best as you're able.

Version: usually output of `node -v`
Platform: either `uname -a` output, or if Windows, version and 32 or 64-bit
Subsystem: if known, please specify affected core module name

If possible, please provide code that demonstrates the problem, keeping it as
simple and free of external dependencies as you are able.
-->

* **Version**: 0.10.25
* **Platform**: Ubuntu 14.04 LTS
* **Subsystem**:

<!-- Enter your issue details below this comment. -->
I'm extremely sorry if this sounds a bit amateurish, but I've searched exhaustively without finding a single resource on whether Node.js core modules like http currently support URLs containing semicolon. I'm working with [Matrix URIs](https://www.w3.org/DesignIssues/MatrixURIs.html), but whenever I try to request a resource like this:

```
http://localhost:8080/index;key=value;green=house;
```

I'm only able to retrieve this much:

```
/index
```
Everything starting from the first semicolon is simply truncated. I have thoroughly examined the **req object** (all properties, including path, url, originalUrl), absolutely no sign of the Matrix-Style Parameters that I wish to pass.

[RFC 3968 Section 3.3](https://tools.ietf.org/html/rfc3986#section-3.3) last para describes the concept, just without calling it MatrixURI

Is there any way in Node I can get the FULL url (without the truncation)? Any help would be appreciated

Can't reproduce.

In both Node.js v6.2.1 and v0.10.41 `req.url` is equal to `/index;key=value;green=house;` when requesting  `http://localhost:8080/index;key=value;green=house;` for me.

Just checked — it's the same in v0.10.25, I see `/index;key=value;green=house;` in `req.url`.

@ChALkeR could you please share your script?

Here's mine:

```javascript
var app = require ('http').createServer (function (req, res) {
    	console.log (req.url);
});
app.listen (8080);
```

Screenshot
![shot](https://cloud.githubusercontent.com/assets/12758282/16126424/bda67946-3415-11e6-8916-eeafbe3bd237.png)
:

(The output on server-side is only **/index**)


Yes, it was the exact same script with minor style differences.

You call `curl` in a wrong way here, what it actually does is
```bash
curl http://localhost:8080/index
key=value
green=house
```

Try
```bash
curl 'http://localhost:8080/index;key=value;green=house;'
```


Closed, because the mistake is in how you perform the request, not on Node.js side.
If you can still reproduce this with proper requests — leave a comment and I will reopen this =).

Thanks a lot! And sorry, it was stupid of me not to consider that