HEAD request produces parse error if response contains body

<!--
Thank you for reporting a possible bug in Node.js.

Please fill in as much of the template below as you can.

Version: output of `node -v`
Platform: output of `uname -a` (UNIX), or version and 32 or 64-bit (Windows)
Subsystem: if known, please specify the affected core module name

If possible, please provide code that demonstrates the problem, keeping it as
simple and free of external dependencies as you can.
-->

* **Version**: v12.0.0-head
* **Platform**: Darwin MacBook-Pro.local 18.5.0 Darwin Kernel Version 18.5.0: Mon Mar 11 23:41:46 PDT 2019; root:xnu-4903.251.3~6/RELEASE_X86_64 x86_64
* **Subsystem**: `http`

```
Error: Parse Error
    at Socket.socketOnData (_http_client.js:451:22)
    at Socket.emit (events.js:194:13)
    at addChunk (_stream_readable.js:296:12)
    at readableAddChunk (_stream_readable.js:277:11)
    at Socket.Readable.push (_stream_readable.js:232:10)
    at TCP.onStreamRead (internal/stream_base_commons.js:165:17)
```

With recent code from this repository, a `HEAD` request that receives a response with a body results in a "Parse Error". This is not the case in previous versions like 11.x.

While such a response is unexpected, it seems that the common practice is to [ignore the body](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/HEAD) instead of throwing an error. This seems to have been done in previous versions of Node.js.

I came across this error while running the Web Platform Test [response-method.htm](https://github.com/web-platform-tests/wpt/blob/master/xhr/response-method.htm) in [jsdom](https://github.com/jsdom/jsdom). Unfortunately I can't provide a simple Node.js-based test case as I'm not sure that Node.js allows responses to HEAD requests to have a body.

> Unfortunately I can't provide a simple Node.js-based test case as I'm not sure that Node.js allows responses to HEAD requests to have a body.

You can fake it by writing directly to the socket.

Here's a test I came up with, but it fails with a parse error on all versions that I tried (including master, v10.x, and v8.x):

```js
const http = require('http');

http.createServer((req, res) => {
  console.dir(req.method);
  res.socket.end('HTTP/1.1 200 OK\r\nContent-Length: 1\r\n\r\nX');
}).listen(0, function() {
  http.request({
    host: this.address().address,
    port: this.address().port,
    method: 'HEAD'
  }, (res) => {
    console.dir(res.statusCode);
    console.dir(res.headers);
    res.on('close', () => {
      this.close();
    }).pipe(process.stdout);
  }).end();
});
```

Thanks for the the test! It looks like the issue only appears with a body of more than one character. Try `HTTP/1.1 200 OK\r\nContent-Length: 2\r\n\r\nHI` instead.

I tried several versions of v6.x, v8.x and v10.x (and master) with a 1-byte and 2-byte response body and they all fail with a parse error. As far as I can tell, it's not a regression.

The question then is what's more desirable: rejecting or ignoring the response.

A potential footgun with ignoring the response body is that it might be turned into a deliberate or accidental slowloris-style denial-of-service: tell the client to expect a large response body, then send the response. Very. Slowly.

With normal responses that's not a big issue, the user can take precautions (set a timeout, set a timer, etc.) However, when Node.js handles it internally then we have to take care of it, somehow.

Okay, I can confirm what you're seeing with v11.13.0. You send back "HI" and it's imperative that the body starts with a capital "H", anything else will result in a parse error; Node.js interprets it as the start of the next message.

After thinking about it more, I'm going to say that Node.js is correct in ignoring the Content-Length header. From https://tools.ietf.org/html/rfc7230#section-3.3.2:

    A server MAY send a Content-Length header field in a response to a
    HEAD request (Section 4.3.2 of [RFC7231]); a server MUST NOT send
    Content-Length in such a response unless its field-value equals the
    decimal number of octets that would have been sent in the payload
    body of a response if the same request had used the GET method.

I'll close this issue and open a new one to discuss whether it's appropriate for Node.js to look at the first byte of the next message when that message is never consumed.