Issue with cyrillic symbols in location headers

To reproduce this bug, execute the code below and open http://localhost:777/ in the browser. This page redirects to a page from the location header, and browser should open http://localhost:777/?text=что-то%20русское .

In node.js version 0.10.15 and earlier, it works fine, but io.js opens the http://localhost:777/?text=GB>-B>%20@CAA:>5 url.

I think that the issue is linked to the writeHead function that incorrectly encodes headers and sends them to the browser.

    var http = require('http');

    http.createServer(function(req, res) {
        if (req.url === '/')
            res.writeHead(302, {location:'?text=что-то русское'});

        res.end();
    }).listen(777);

There is a similar problem with parsing:

```js
var http = require('http');

http.createServer(function(req, res) {
  console.log(req.url);
  console.log(req.headers)
  res.end('');
}).listen(3000);
```


`curl -H "X-Test: Тест" http://localhost:3000/?тест`

On node 0.10:

```
/?тест
Тест
```

On io.js 3.2:

```
/?ÑÐµÑÑ
Ð¢ÐµÑÑ
```

This is a seems like a major regression and I can't think of a proper workaround.  

@bnoordhuis Quick note. ISO-8859-1 is what's returned by `OneByteString()`. This started back when v8 switched from `String::WriteAscii()` to `String::WriteOneByte()`. And since it would be extra overhead to convert the headers to US-ASCII, we simply leave them latin-1 encoded. Demonstrative example (check `X-Test` header):
```js
var http = require('http');

http.createServer(function(req, res) {
  console.log(req.headers);
  res.end('bye\n');
}).listen(3000, makeRequest);

var options = {
  port: 3000,
  headers: { 'X-Test': 'Ä' },
};

function makeRequest() {
  http.request(options, function (res) { }).end();
}
```
Output:
```
{ 'x-test': 'Ä', host: 'localhost:3000', connection: 'close' }
```

Closing as per https://github.com/nodejs/node/pull/2629#issuecomment-140075580.

This is working as intended. The spec only allows ascii for security reasons.

@Fishrock123 What about https://github.com/nodejs/node/issues/1693#issuecomment-101726168 then?

Hmm, I suppose that is an actual bug, but from my knowledge of internals quite difficult to reasonably fix.

The entire http headers API (internals) needs a rewrite/cleanup.

Discrepancies I'm aware of:

- Writing headers, then writing a string will default headers to utf8.
- Writing headers, then writing a buffer will default headers to binary.
- Writing _and flushing_ headers defaults to utf8, even if a buffer is written afterwards.

The entire thing needs to be looked at.

Related: https://github.com/nodejs/node/issues/962

The main problem here is that it's not documented what happens with non-ASCII headers. I see two obvious solutions:

1. Explicitly state that only ASCII is supported. Do we have this limitation anywhere else? If not, then it's probably a bad idea. If we do, then do the same as there when passed non-ASCII.
2. Explicitly state that text will be URI-encoded. This will be a breaking change for those who already pass URI-encoded strings, but it's probably a better approach in the long term.

Just encountered a problem with this.  Wanted to apply some headers containing non-ascii characters, to a response that is sitting behind IIS (which is proxying requests).  IIS threw a fit over the header values, eventually leading me to use the module `mimelib` to Mime word encode the header values before using `response.setHeader()`.

> Wanted to apply some headers containing non-ascii characters

This is against the HTTP spec.

Just to be clear... RFC 7230 and it's additional docs replace RFC 2616:

https://tools.ietf.org/html/rfc7230#section-3.2
https://tools.ietf.org/html/rfc7230#section-1.2

The specific ABNF for Header field values is:

`VCHAR (any visible [USASCII] character)`
```
header-field   = field-name ":" OWS field-value OWS

field-name     = token
field-value    = *( field-content / obs-fold )
field-content  = field-vchar [ 1*( SP / HTAB ) field-vchar ]
field-vchar    = VCHAR / obs-text

obs-text = %x80-FF
obs-fold       = CRLF 1*( SP / HTAB )
```

Also note the comment in Section [3.2.4](https://tools.ietf.org/html/rfc7230#section-3.2.4):

>    Historically, HTTP has allowed field content with text in the ISO-8859-1 charset [ISO-8859-1], supporting other charsets only through use of [RFC2047] encoding.  In practice, most HTTP header field values use only a subset of the US-ASCII charset [USASCII]. Newly defined header fields SHOULD limit their field values to US-ASCII octets.  A recipient SHOULD treat other octets in field content (obs-text) as opaque data.

Also, from Appendix [A.2](https://tools.ietf.org/html/rfc7230#appendix-A.2):

> Non-US-ASCII content in header fields ... has been obsoleted and made opaque 

For backwards compatibility, header fields are generally always supposed to be treated as ISO-8859-1 but anything outside of the `VCHAR` (visible US-ASCII) range is obsolete and treated as "opaque". Unfortunately the spec doesn't actually define what "opaque" means in this case. I assume that means the bytes are intended to be uninterpreted (meaning we're not *supposed* to decode them as UTF-8).

In other words, a header value *must* contain only bytes in the x20-xFF range, and *should* ONLY decode bytes x20-x7E while leaving bytes x80-xFF as "raw bytes". This range, of course, does happen to allow for valid UTF8 byte sequences. Interpretation of those, however, is considered "unspecified".

The original testcase should be fixed in recent version on all Node.js branches, it just throws errors now, as it should.

Any reason for keeping this open?

I'm going to close this.
Everyone, comment here, if you disagree and want this reopened for some reason.