doc: "Buffers and character encodings" issue regarding base64/base64url 

# 📗 API Reference Docs Problem


<!-- The output of “node --version”. -->

- **Version**: v16.8.0 (possibly other versions as well)

<!-- The output of “uname -a” (UNIX) or version
and 32-bit or 64-bit (Windows). -->

- **Platform**: Linux 5.4.0-80-generic #90-Ubuntu SMP Fri Jul 9 22:49:44 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux (but I think this is irrelevant for this issue

<!-- The name of affected core module. -->

- **Subsystem**: Buffer / encodings

## Location

_Section of the site where the content exists_

Affected URL(s):

- https://nodejs.org/docs/latest-v16.x/api/buffer.html

## Description

_Concise explanation of the problem_

<!-- If applicable, include any screenshots that
may help solve the problem. -->

The documentation for 'base64' and 'base64url' both reference  RFC 4648, Section 5, but base64 and base64url are two distinct encodings, and the contents of Section 5 states "This encoding may be referred to as "base64url".  This encoding should not be regarded as the same as the "base64" encoding and should not be referred to as only "base64".  Unless clarified otherwise, "base64" refers to the base 64 in the previous section."

Because of this, it is unclear whether `buf.toString('base64')` returns base64 or base64url. If it indeed returns base64url, then it is unclear why 'base64url' exists as another encoding option.

---

<!-- Use “[x]” to check the box below if you are
interested in contributing. -->

- [ ] I would like to work on this issue and
      submit a pull request.


As the documentation for both of these encoding options read:
![Screenshot_20210902-170535_Chrome](https://user-images.githubusercontent.com/62040526/131844531-91288b27-b35d-4b12-9733-04f4420e8e85.png)
Both of them does reference [RFC 4648, Section 5](https://tools.ietf.org/html/rfc4648#section-5), but what to realize here is that the `base64` encoding option tells you that it also accepts the "URL and Filename Safe Alphabet" specified specifically in the mentioned section, it doesn't reference that section to explain what exactly the base64 encoding is as a hyperlink has already been provided that leads to the actual explanation of the `base64` encoding just above the hyperlink that leads to the section 5 of RFC 4648. That being said it doesn't refer to them being the same option.

The `base64url` encoding option however references the section 5 of RFC 4648 for a brief explanation of what this encoding exactly is and correctly refers to it as not being the same as the `base64` encoding option.

For a difference between the 2 options, at the end of the `base64url` encoding option's description, it states that it omits the padding which the `base64` encoding option doesn't.