Basic authentication encoding

<!--
Thank you for reporting an issue.

This issue tracker is for bugs and issues found within Node.js core.
If you require more general support please file an issue on our help
repo. https://github.com/nodejs/help


Please fill in as much of the template below as you're able.

Version: output of `node -v`
Platform: output of `uname -a` (UNIX), or version and 32 or 64-bit (Windows)
Subsystem: if known, please specify affected core module name

If possible, please provide code that demonstrates the problem, keeping it as
simple and free of external dependencies as you are able.
-->

* **Version**: 8 / 7
* **Platform**: Darwin
* **Subsystem**: -

<!-- Enter your issue details below this comment. -->
Node doesn't exactly follow step 2 from [RFC 7617](https://tools.ietf.org/html/rfc7617#section-2) with its legacy URL options but does with WHATWG-URLs. Maybe that's fine, and you would like to keep it that way, but I couldn't find an issue corroborating this.

When making a request using `http` with only an username in the passed URL, one can use the default or legacy URL version:
```js
http.get(url.parse('http://user@httpbin.org/get'));
```
or the new WHATWG-URL version:
```js
http.get(new url.URL('http://user@httpbin.org/get'));
```
Since putting auth in URLs like this is [sort-of deprecated](https://developer.mozilla.org/en-US/docs/Web/HTTP/Authentication#Basic_authentication_scheme) Node seems to helpfully rewrite to a basic authentication header. The thing is, the former is encoded as: `dXNlcg==`, decoded: `user`, the latter as: `dXNlcjo=`, decoded `user:`. `curl` does `user:` if I read the spec I'd say `user:`.

Am I correct in assuming Node will keep the current (conflicting) behavior for legacy URLs?

Yes, the legacy URL api is unlikely the change for this.

Alright, that's all I needed to move forward. Thanks, @jasnell!
Happy to see you [survived the waterpark](https://twitter.com/jasnell/status/872817894194692097) 😛. 
Keep being awesome 🙌.

@jasnell should we update https://github.com/nodejs/node/blob/master/lib/internal/url.js#L1311-L1313 to prevent `"user:"`?

@stevenvachon I think the only reasonable suggestion is the opposite of what you're proposing. The RFC clearly states the following:
> To receive authorization, the client
>   1.  obtains the user-id and password from the user,
>   2.  constructs the user-pass by concatenating the user-id, a single
       colon (":") character, and the password,
>   3.  encodes the user-pass into an octet sequence (see below for a
       discussion of character encoding schemes),
>   4.  and obtains the basic-credentials by encoding this octet sequence
       using Base64 ([RFC4648], Section 4) into a sequence of US-ASCII
       characters ([RFC0020]).

In other words, the way I read it, the implementation should add the colon always. In this case, with the password component being an empty string. Like `curl` does and I'm guessing the current implementation consciously does too or should in my opinion anyway.

I definitely wouldn't update the new behavior to be consistent with the old behavior before confirming I'm wrong and `curl`'s behavior is a fluke instead of moving Node from complying back to being the odd one out.